<!-- Next level styling coming up...
     You're not ready for this. -->

<% if !songs.empty? %>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>

  <table>
    <tr>
      <th colspan="4"><br>
        <h3>
          <%= defined?(genre) ? "#{genre.name} Songs" : "Songs" %>
      </h3>
    </th>
    </tr>
    <tr>
      <th>Artist</th>
      <th>Title</th>
    </tr>
    <% songs.each do |song| %>
    <tr>
      <td><%= song.artist %></td>
      <td><%= song.title %></td>
      <td><a href='/songs/s/<%= song.id %>'>View</a></td>
      <td><a href='/songs/delete/<%= song.id %>'>Delete</a></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <%= defined?(genre) ? "No #{genre.name} songs in database!" : "No songs in database!" %>
<% end %>

